body, html{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ecf0f1;
}
.container, nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox; 
	display: -ms-flex; 
	display: flex;
	 -webkit-align-items: center;
	 -moz-align-items: center;
	  -ms-align-items: center;
		  align-items: center;
		-webkit-justify-content: space-around;
	 -moz-justify-content: space-around;
	  -ms-justify-content: space-around;
		  justify-content: space-around;
			-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	 -moz-flex-wrap: wrap;
}
.container{
	max-width:1440px;
	margin:0 auto;
}
h1{	
	font-size:3em;
	color: #2c3e50;
	font-weight:600;
	margin:0 auto;
	text-align:center;
	padding:20px;
}
h2{	
	font-size:2em;
	color: #34495e;
	font-weight:600;
	margin:0 auto 50px auto;
	text-align:center;
}

.magic-nav-bar{
	max-width:480px;
	margin:50px;
	box-sizing:border-box;
}
nav{
	margin: 0 auto;
}
nav a{
	display:inline-block;
	margin:5px 10px;
	padding:10px 20px;
	line-height:1em;
	color: #7f8c8d;
	font-weight:400;
	text-decoration:none;
}
/* example 1 */
.magic-nav-bar-1 a{	
	position:relative;
}
.magic-nav-bar-1 a:after{
	content: '';
	position:absolute;
	top:0;
	left:50%;
	right:50%;
	bottom:auto;
	height:3px;
	width:auto;
	background-color:#3498db;
	transition:all 500ms;
	-webkit-transition:all 500ms;
	-moz-transition:all 500ms;
	-o-transition:all 500ms;
}
.magic-nav-bar-1 a:hover:after{
	left:0;
	right:0;
}
/* example 2 */
.magic-nav-bar-2 a{	
	position:relative;
	overflow:hidden;
}
.magic-nav-bar-2 a:after,.magic-nav-bar-2 a:before {
	content: '';
	position:absolute;
	top:0;
	left:50%;
	right:50%;
	bottom:auto;
	height:3px;
	width:auto;
	background-color:#d35400;
	transition:all 300ms;
	-webkit-transition:all 300ms;
	-moz-transition:all 300ms;
	-o-transition:all 300ms;
	z-index:1;
}
.magic-nav-bar-2 a:before {
	background-color:#f1c40f;
	transition:all 1000ms;
	-webkit-transition:all 1000ms;
	-moz-transition:all 1000ms;
	-o-transition:all 1000ms;
	z-index:2;
}
.magic-nav-bar-2 a:hover:after, .magic-nav-bar-2 a:hover:before {
	left:0;
	right:0;
}
/* example 3 */
.magic-nav-bar-3 a{	
	position:relative;
	overflow:hidden;
}
.magic-nav-bar-3 a:after,.magic-nav-bar-3 a:before {
	content: '';
	position:absolute;
	top:0;
	left:50%;
	right:50%;
	bottom:auto;
	height:3px;
	width:auto;
	background-color:rgba(241, 196, 15,1.0);	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
}
.magic-nav-bar-3 a:after{
	left:0%;
	right:0%;
}
.magic-nav-bar-3 a:before {	
	background-color:#e67e22;
}
.magic-nav-bar-3 a:hover:after{
	background-color: rgba(241, 196, 15,0);
}
.magic-nav-bar-3 a:hover:before {
	left:0;
	right:0;
}

/* example 4 */
.magic-nav-bar-4 a{	
	position:relative;
	overflow:hidden;
}
.magic-nav-bar-4 a:after,.magic-nav-bar-4 a:before {
	content: '';
	position:absolute;
	height:3px;
	width:100%;	
	background-color:#1abc9c;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
}
.magic-nav-bar-4 a:after{
	left:-100%;
	right:auto;
	top:0;	
	bottom:auto;
}
.magic-nav-bar-4 a:before{
	left:auto;
	right:-100%;
	top:auto;	
	bottom:0;
}
.magic-nav-bar-4 a:hover:after{
	left:0%;
}
.magic-nav-bar-4 a:hover:before{
	right:0%;
}

/* example 5 */
.magic-nav-bar-5 a{	
	position:relative;
	overflow:hidden;
}
.magic-nav-bar-5 a:after,.magic-nav-bar-5 a:before {
	content: '';
	position:absolute;
	height:auto;
	width:3px;	
	background-color:#e74c3c;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
}
.magic-nav-bar-5 a:after{
	left:0;
	right:auto;
	top:100%;
	bottom:0%;
}
.magic-nav-bar-5 a:hover:after{
	top:0%;
}
.magic-nav-bar-5 a:before{
	left:auto;
	right:0;
	top:0%;
	bottom:100%;
}
.magic-nav-bar-5 a:hover:before{
	bottom:0%;
}
/* example 6 */
.magic-nav-bar-6 a{	
	position:relative;
	overflow:hidden;
	background-color:transparent;
	color:#8e44ad;
	border-radius:40px;
	border-color: #8e44ad;
	border-width:2px;
	border-style:solid;
	transition:all 500ms;
	-webkit-transition:all 500ms;
	-moz-transition:all 500ms;
	-o-transition:all 500ms;
}
.magic-nav-bar-6 a:hover{
	border-color: #ecf0f1;
}
.magic-nav-bar-6 a:after {
	padding:10px 20px;
	line-height:1em;
	color: #ecf0f1;
	font-weight:400;
	text-decoration:none;
	position:absolute;
	height:100%;
	width:100%;
	background-color:#8e44ad;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
	top:0;
	bottom:0;
	left:-100%;
	right:auto;
	box-sizing: border-box;
	border-radius:40px;
}
.magic-nav-bar-6 a:hover:after{
	left:0;
}
.magic-nav-bar-6 a:nth-child(1):after{
	content: 'Products';
}
.magic-nav-bar-6 a:nth-child(2):after{
	content: 'About Us';
}
.magic-nav-bar-6 a:nth-child(3):after{
	content: 'Contact';
}

/* example 7 */
.magic-nav-bar-7 a{	
	position:relative;
	overflow:hidden;
	background-color:transparent;
	color:#c0392b;
}

.magic-nav-bar-7 a:after {
	padding:10px 20px;
	line-height:1em;
	color: #ecf0f1;
	font-weight:400;
	text-decoration:none;
	position:absolute;
	height:auto;
	width:auto;
	background-color:#c0392b;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
	top:auto;
	bottom:93%;
	left:0;
	right:0;
	box-sizing: border-box;
}
.magic-nav-bar-7 a:hover:after{	
	bottom:0%;
}
.magic-nav-bar-7 a:nth-child(1):after{
	content: 'Products';
}
.magic-nav-bar-7 a:nth-child(2):after{
	content: 'About Us';
}
.magic-nav-bar-7 a:nth-child(3):after{
	content: 'Contact';
}

/* example 8 */
.magic-nav-bar-8 a{	
	position:relative;
	overflow:hidden;
	background-color:transparent;
	color:#1abc9c;
}

.magic-nav-bar-8 a:after, .magic-nav-bar-8 a:before  {	
	padding:10px 20px;
	line-height:1em;
	color: #ecf0f1;
	font-weight:400;
	text-decoration:none;
	position:absolute;
	height:auto%;
	width:auto;
	background-color:#1abc9c;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;
	left:0;
	right:0;
	box-sizing: border-box;
}
.magic-nav-bar-8 a:after{
	top:-100%;	
	bottom:auto;
}
.magic-nav-bar-8 a:before {
	top:auto;
	bottom:-100%;
}
.magic-nav-bar-8 a:hover:after{
	top:0%;	   
}                  
.magic-nav-bar-8 a:hover:before {
	bottom:0%;
}
.magic-nav-bar-8 a:nth-child(1):after, .magic-nav-bar-8 a:nth-child(1):before {
	content: 'Products';
}
.magic-nav-bar-8 a:nth-child(2):after, .magic-nav-bar-8 a:nth-child(2):before{
	content: 'About Us';
}
.magic-nav-bar-8 a:nth-child(3):after, .magic-nav-bar-8 a:nth-child(3):before{
	content: 'Contact';
}

/* example 9 */
.magic-nav-bar-9 a{	
	position:relative;
	overflow:hidden;
	background-color:transparent;
	color:#2ecc71;
}

.magic-nav-bar-9 a:after, .magic-nav-bar-9 a:before  {	
	padding:10px 20px;
	line-height:1em;
	color: #ecf0f1;
	font-weight:400;
	text-decoration:none;
	position:absolute;
	height:auto%;
	width:auto;
	background-color:#2ecc71;	
	transition:all 700ms;
	-webkit-transition:all 700ms;
	-moz-transition:all 700ms;
	-o-transition:all 700ms;	
	top:0;	
	bottom:0;
	box-sizing: border-box;
}
.magic-nav-bar-9 a:after{
	right:-100%;	
	left:auto;
}
.magic-nav-bar-9 a:before {
	right:auto;
	left:-100%;
}
.magic-nav-bar-9 a:hover:after{
	right:0%;	   
}                  
.magic-nav-bar-9 a:hover:before {
	left:0%;
}
.magic-nav-bar-9 a:nth-child(1):after, .magic-nav-bar-9 a:nth-child(1):before {
	content: 'Products';
}
.magic-nav-bar-9 a:nth-child(2):after, .magic-nav-bar-9 a:nth-child(2):before{
	content: 'About Us';
}
.magic-nav-bar-9 a:nth-child(3):after, .magic-nav-bar-9 a:nth-child(3):before{
	content: 'Contact';
}

